body {
	color:#000000;
	background-color:#0072C6;
	margin:0;
}

#container {
	background-color:#0431B4;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	}

a img {
	border:none;
	border-radius: 50%;
}

#gray {
	filter: grayscale(100);
}

div {
	background-color:#BF00FF;
	text-align: center;
}
